{%extends 'base.html'%}

{%block title%} Главная страница{%endblock%}

{%block body%}
<h1> Главная страница </h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Distinctio quas quia repellat velit.</li>
<li>Commodi praesentium rem voluptas voluptatum.</li>
<li>Cum ducimus mollitia veritatis vitae.</li>
<li>Assumenda fugiat quaerat reiciendis voluptatem.</li>
<li>Distinctio illum natus officiis quae?</li>
<li>Adipisci eveniet fuga nam reprehenderit?</li>
<li>Ex officia quia similique sint?</li>
<li>Earum error maxime nemo odit!</li>
<li>Assumenda consectetur totam voluptate voluptates.</li>
<li>Eaque ipsa ipsum pariatur soluta.</li>
<li>Dolores eligendi officia veniam veritatis!</li>
<li>Accusamus dolorem hic sunt vero?</li>
<li>Amet doloremque ipsa neque provident.</li>
<li>Fuga molestiae quam quidem tempora.</li>
<li>Consequatur ea fugiat id impedit.</li>
<li>Dolor eligendi natus nihil quibusdam.</li>
<li>Commodi enim quaerat sint veritatis.</li>
<li>Eos excepturi illum iste qui.</li>
<li>Hic libero nisi recusandae voluptatem!</li>
<li>Doloremque dolorum inventore tempore voluptas?</li>
<li>Accusantium dolores fugiat nisi sed.</li>
<li>Explicabo illo iusto omnis voluptas!</li>
<li>Itaque iusto nemo sed vel?</li>
<li>Ducimus inventore maxime molestias vero?</li>
<li>Dolore eaque incidunt labore nam?</li>
<li>Aut illo illum quas vel.</li>
<li>Consequuntur eligendi officiis quam ullam?</li>
<li>Ad delectus in quam voluptatibus?</li>
<li>Eaque nemo odit possimus vel?</li>
<li>Eum quam saepe sunt ut.</li>
<li>Cupiditate fugiat id molestias repellendus!</li>
<li>Blanditiis eos eum in nesciunt.</li>
<li>Dolore eveniet exercitationem nisi repellendus.</li>
<li>Aut corporis delectus ea voluptatem.</li>
<li>Beatae fugiat maxime placeat veritatis.</li>
<li>Aliquam autem fugit nisi reiciendis.</li>
<li>Accusamus dolor harum sapiente sit.</li>
<li>Explicabo facilis hic nulla provident!</li>
<li>Animi architecto at autem numquam.</li>
<li>Deleniti optio quasi unde vel.</li>
<li>Commodi enim laboriosam odit ut.</li>
<li>Ex libero maxime mollitia obcaecati.</li>
<li>Ipsum laudantium minima recusandae rem!</li>
<li>Alias assumenda quis ut voluptas.</li>
<li>Doloribus expedita in placeat. Iste.</li>
<li>Ad adipisci debitis suscipit veritatis!</li>
<li>Eius eligendi nisi vero. Iure.</li>
<li>Dolorem nostrum omnis repellendus sequi?</li>
<li>Adipisci facere provident repudiandae sit?</li>
<li>Beatae deserunt neque saepe vel.</li>
<li>Animi aut libero quasi. Est.</li>
<li>Eligendi iusto minus quis voluptas!</li>
<li>Adipisci earum expedita modi vero.</li>
<li>Est incidunt quis rem voluptatibus.</li>
<li>Aliquid aspernatur distinctio officiis rem?</li>
<li>Explicabo odio sed sit voluptatem.</li>
<li>Animi dignissimos error obcaecati quae?</li>
<li>Blanditiis deleniti magnam molestiae veniam.</li>
<li>Aliquam autem et quisquam ratione?</li>
<li>Atque commodi ducimus hic voluptate.</li>
<li>Aliquam aut delectus hic officia?</li>
<li>Corporis enim nihil officia. Nam!</li>
<li>Aspernatur eum provident soluta tenetur.</li>
<li>Aliquid asperiores itaque iusto odit!</li>
<li>Aperiam expedita neque quasi soluta.</li>
<li>Dolorem illo natus nisi quod.</li>
<li>Autem ex nam odit sunt!</li>
<li>Nobis numquam, sequi. Laborum, reiciendis!</li>
<li>Ad consectetur cum minima praesentium?</li>

{%endblock%}